* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background: linear-gradient(135deg, #2b5876, #4e4376);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  animation: enter 1s ease;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.display{
    font-size: 3rem;
    margin-bottom: 25px;
    font-weight: bold;
    color: #222;
    letter-spacing: 2px;
}

.buttons button {
    padding: 12px 25px;
    margin: 0 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #4e4376;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background: #2b5876;
    transform: scale(1.1);
}

.buttons button:active {
    transform: scale(0.95);
}
